.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background-color: #07102a;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}
